In [239]:
#Setup
import pandas as pd

In [240]:
#Import CSV
csv_file = "C:/Users/Arianne/Desktop/PythonStuff/Pandas_Homework_ANT/Pandas_Homework_ANT/HeroesOfPymoli/Resources/purchase_data.csv"

In [241]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

##Player Count

In [242]:
#Display the total number of players
Unique_players=purchase_data['SN'].unique()
total_players = len(Unique_players)
print(f"Total Players: {total_players}")

Total Players: 576

##Purchasing Analysis

In [243]:
#number of unique items
Unique_Items = purchase_data['Item Name'].unique()
total_unique_items = len(Unique_Items)
total_unique_items

179

In [244]:
#Average Price
Average_Price = purchase_data['Price'].mean()
Average_Price

3.050987179487176

In [245]:
#Number of Purchases
Total_purchases = len(purchase_data.index)
Total_purchases

780

In [246]:
#Total Revenue
Total_revenue = purchase_data['Price'].sum()
Total_revenue

2379.77

In [247]:
#Display the summary data frame for Purchasing Analysis
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items], "Average Price": [Average_Price], "Number of Purchases": [Total_purchases], "Total Revenue":[Total_revenue]})
Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

##Gender Demographics

In [248]:
#Count of Male/Female/Other Players
Gender_Count = purchase_data['Gender'].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [249]:
Gender_Count_df = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"], "Total Count" : [652, 113, 15]})
Gender_Count_df.head()

                  Gender  Total Count
0                   Male          652
1                 Female          113
2  Other / Non-Disclosed           15

In [250]:
#Percentage and Count of Male/Female/Other Players
Percentage = (576/Gender_Count_df["Total Count"])*100
Gender_Count_df["Percentage of Players"] = Percentage

Gender_Count_df.head()

                  Gender  Total Count  Percentage of Players
0                   Male          652              88.343558
1                 Female          113             509.734513
2  Other / Non-Disclosed           15            3840.000000

In [251]:
Cleaned_data = purchase_data[['Gender','Price']]

Grouped_Gender = Cleaned_data.groupby(['Gender'])
Grouped_Gender.min().head()

                       Price
Gender
Female                  1.00
Male                    1.00
Other / Non-Disclosed   1.33

In [252]:
#Run basic calculation to obtain purchase count
purchase_count = Grouped_Gender['Gender'].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [253]:
#Run basic calculations to obtain  Average Price
Gender_Average_Price = Grouped_Gender['Price'].mean()
Gender_Average_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [254]:
#Total Purchase Value
Gender_Total_revenue = Grouped_Gender['Price'].sum()
Gender_Total_revenue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [255]:
#Average Total per person
Gender_Purchase_Value = Gender_Total_revenue / purchase_count
Gender_Purchase_Value

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [256]:
#Summary Table
Gender_Analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": Gender_Average_Price, "Total Purchase Value": Gender_Total_revenue, "Average Total Purchase per person":Gender_Purchase_Value})
Gender_Analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

##Age Demographics

In [257]:
#Create Bins
Bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
Age_Demographics = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [258]:
#Categorize the existing players using Age Bins
purchase_data["Age Group"] = pd.cut(purchase_data['Age'], Bins, labels= Age_Demographics, include_lowest=True)
purchase_data_Age_cleanup = purchase_data.groupby("Age Group")
purchase_data_Age_cleanup.min().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
<10,27,Aeralria27,7,Female,11,"Aetherius, Boon of the Blessed",1.29
10-14,26,Chanirrasta87,11,Female,30,Apocalyptic Battlescythe,1.03
15-19,30,Adairialis76,15,Female,0,Agatha,1.01
20-24,0,Aela59,20,Female,0,Abyssal Shard,1.00
25-29,25,Aellynun67,25,Female,1,"Aetherius, Boon of the Blessed",1.00

In [259]:
Total_count_of_purchases = purchase_data_Age_cleanup["Purchase ID"].count()
Total_count_of_purchases

Age Group
<10       32
10-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64

In [260]:
# Find how many rows fall into each bin
Total_by_age = {"Total Count" : [Total_count_of_purchases]}
Total_by_age

{'Total Count': [Age Group
  <10       32
  10-14     19
  15-19    136
  20-24    365
  25-29    101
  30-34     73
  35-39     41
  40+        6
  Name: Purchase ID, dtype: int64]}

In [261]:
# Get the average of each column within the GroupBy object

Percentage_Age = (Total_count_of_purchases/576)*100
#Percentage_Age

Percentage_Age_dict = {"Percentage" : [Percentage_Age]}

Percentage_Age_dict

{'Percentage': [Age Group
  <10       5.555556
  10-14     3.298611
  15-19    23.611111
  20-24    63.368056
  25-29    17.534722
  30-34    12.673611
  35-39     7.118056
  40+       1.041667
  Name: Purchase ID, dtype: float64]}

In [262]:
Age_Demographics_Summary = pd.DataFrame({"Percentage" : Percentage_Age, "Total Count" : Total_count_of_purchases})

Age_Demographics_Summary

           Percentage  Total Count
Age Group
<10          5.555556           32
10-14        3.298611           19
15-19       23.611111          136
20-24       63.368056          365
25-29       17.534722          101
30-34       12.673611           73
35-39        7.118056           41
40+          1.041667            6

##Purchasing Analysis (Age)

In [263]:

#Bin the purchase_data data frame by age
Bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
Age_Demographics = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [264]:
purchase_data["Age Group"] = pd.cut(purchase_data['Age'], Bins, labels= Age_Demographics, include_lowest=True)
purchase_data_Age_cleanup = purchase_data.groupby("Age Group")
purchase_data_Age_cleanup.min().head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
<10,27,Aeralria27,7,Female,11,"Aetherius, Boon of the Blessed",1.29
10-14,26,Chanirrasta87,11,Female,30,Apocalyptic Battlescythe,1.03
15-19,30,Adairialis76,15,Female,0,Agatha,1.01
20-24,0,Aela59,20,Female,0,Abyssal Shard,1.00
25-29,25,Aellynun67,25,Female,1,"Aetherius, Boon of the Blessed",1.00

In [265]:
#Purchase count

Total_count_of_purchases = purchase_data_Age_cleanup["Purchase ID"].count()
Total_count_of_purchases

Age Group
<10       32
10-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64

In [266]:
#Average Purchase Price
Age_Avg_Purchase_Price = purchase_data_Age_cleanup["Price"].mean()
Age_Avg_Purchase_Price

Age Group
<10      3.405000
10-14    2.681579
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.785000
Name: Price, dtype: float64

In [267]:
#Total Purchase Value
Age_Total_Purchase_Value = Total_count_of_purchases * Age_Avg_Purchase_Price
Age_Total_Purchase_Value

Age Group
<10       108.96
10-14      50.95
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
dtype: float64

In [268]:
#Avg total per person
Age_Avg_Per_Person = Age_Total_Purchase_Value / Total_count_of_purchases
Age_Avg_Per_Person

Age Group
<10      3.405000
10-14    2.681579
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.785000
dtype: float64

In [269]:
#Create a summary data frame to hold the results and display
Age_Purchasing_Analysis = pd.DataFrame({"Purchase Count": Total_count_of_purchases, "Average Purchase Price": Age_Avg_Purchase_Price, "Total Purchase Value": Age_Total_Purchase_Value, "Average Total Purchase per person": Age_Avg_Per_Person})
Age_Purchasing_Analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
Age Group,,,,
<10,32,3.405000,108.96,3.405000
10-14,19,2.681579,50.95,2.681579
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990

##Top Spenders

In [270]:
#Clean Data to look at SN and find the top spenders
SN_Data = purchase_data[['SN','Purchase ID', 'Price']]
SN_Data.head()

              SN  Purchase ID  Price
0        Lisim78            0   3.53
1    Lisovynya38            1   1.56
2     Ithergue48            2   4.88
3  Chamassasya86            3   3.27
4      Iskosia90            4   1.44

In [271]:
#Total Purchase Count
Grouped_SN = SN_Data.groupby(['SN'])
SN_Total_count_of_purchases = Grouped_SN["Purchase ID"].count()
SN_Total_count_of_purchases

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [272]:
#Average Purchase Price
SN_Avg_Purchase_Price = Grouped_SN['Price'].mean()
SN_Avg_Purchase_Price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [283]:
#Total Purchase value
SN_Total_Purchase_Value = SN_Total_count_of_purchases * SN_Avg_Purchase_Price
SN_Total_Purchase_Value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Length: 576, dtype: float64

In [284]:
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
Top_Spenders = pd.DataFrame({"Purchase Count": SN_Total_count_of_purchases, "Average Purchase Price": SN_Avg_Purchase_Price, "Total Purchase Value": SN_Total_Purchase_Value})
Sorted_Top_Spenders = Top_Spenders.sort_values("Total Purchase Value", ascending=False)
Sorted_Top_Spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

##Most Popular Items

In [275]:
#Retrieve the Item ID, Item Name, and Item Price columns

Most_Popular_Clean = purchase_data[["Item ID", "Item Name", "Price"]]
Most_Popular_Clean

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [276]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
Grouped_Most_Popular = Most_Popular_Clean.groupby(["Item ID", "Item Name"])
Grouped_Most_Popular.min().head()

                            Price
Item ID Item Name
0       Splinter             1.28
1       Crucifer             1.99
2       Verdict              2.48
3       Phantomlight         2.49
4       Bloodlord's Fetish   1.70

In [277]:
#Purchase Count
Most_Popular_Purchase_Count = Grouped_Most_Popular['Item ID'].count()
Most_Popular_Purchase_Count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [278]:
#Total Purchase Value
Most_Popular_Total_Purchase = Grouped_Most_Popular["Price"].sum()
Most_Popular_Total_Purchase

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [279]:
#Item Price
Most_Popular_Item_Price = Most_Popular_Total_Purchase/ Most_Popular_Purchase_Count
Most_Popular_Item_Price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Length: 179, dtype: float64

In [280]:
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
Most_Popular_Summary = pd.DataFrame({"Purchase Count": Most_Popular_Purchase_Count, "Item Price": Most_Profitable_Item_Price, "Total Purchase Value": Most_Popular_Total_Purchase})
Sorted_Most_Popular = Most_Popular_Summary.sort_values("Purchase Count", ascending=False)
Sorted_Most_Popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable

In [281]:
#Sort the Most Popular table by total purchase value in descending order to find the most Profitable
Most_Profitable_Summary = pd.DataFrame({"Purchase Count": Most_Popular_Purchase_Count, "Item Price": Most_Profitable_Item_Price, "Total Purchase Value": Most_Popular_Total_Purchase})
Sorted_Most_Profitable = Most_Popular_Summary.sort_values("Total Purchase Value", ascending=False)
Sorted_Most_Profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80