In [104]:
#Setup
import pandas as pd

In [105]:
#Import CSV
csv_file = "C:/Users/Arianne/Desktop/PythonStuff/Pandas_Homework_ANT/HeroesOfPymoli/Resources/purchase_data.csv"

In [106]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [107]:
#Display the total number of players
Unique_players=purchase_data['SN'].unique()
total_players = len(Unique_players)
print(f"Total Players: {total_players}")

Total Players: 576

In [108]:
#number of unique items
Unique_Items = purchase_data['Item Name'].unique()
total_unique_items = len(Unique_Items)
total_unique_items

179

In [109]:
#Average Price
Average_Price = purchase_data['Price'].mean()
Average_Price

3.050987179487176

In [110]:
#Number of Purchases
Total_purchases = len(purchase_data.index)
Total_purchases

780

In [111]:
#Total Revenue
Total_revenue = purchase_data['Price'].sum()
Total_revenue

2379.77

In [112]:
#Display the summary data frame for Purchasing Analysis
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items], "Average Price": [Average_Price], "Number of Purchases": [Total_purchases], "Total Revenue":[Total_revenue]})
Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [113]:
#Count of Male/Female/Other Players
Gender_Count = purchase_data['Gender'].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [114]:
Gender_Count_df = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"], "Total Count" : [652, 113, 15]})
Gender_Count_df.head()

                  Gender  Total Count
0                   Male          652
1                 Female          113
2  Other / Non-Disclosed           15

In [115]:
#Percentage and Count of Male/Female/Other Players
Percentage = (576/Gender_Count_df["Total Count"])*100
Gender_Count_df["Percentage of Players"] = Percentage

Gender_Count_df.head()

                  Gender  Total Count  Percentage of Players
0                   Male          652              88.343558
1                 Female          113             509.734513
2  Other / Non-Disclosed           15            3840.000000

In [116]:
#Run basic calculations to obtain purchase count

In [117]:
#avg. purchase price

In [118]:
#total purchase value

In [119]:
#Avg total purchase per person

In [120]:
#Display the summary data frame for Gender Demographics

In [121]:
#Most Popular Items

In [122]:
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
Popular_items_df = purchase_data[["Item ID","Item Name", "Price"]]
Popular_items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [125]:
grouped_popular_items = Popular_items_df.groupby(["Item Name"])

#purchase count
total_popular_count = grouped_popular_items.count()

total_popular_count

                                 Item ID  Price
Item Name
Abyssal Shard                          5      5
Aetherius, Boon of the Blessed         5      5
Agatha                                 6      6
Alpha                                  3      3
Alpha, Oath of Zeal                    3      3
...                                  ...    ...
Wolf                                   8      8
Wolf, Promise of the Moonwalker        6      6
Worldbreaker                           4      4
Yearning Crusher                       3      3
Yearning Mageblade                     5      5

[179 rows x 2 columns]

In [124]:
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Display a preview of the summary data frame

SyntaxError: invalid syntax (<ipython-input-124-0478470a46e3>, line 1)