In [13]:
#Setup
import pandas as pd

In [20]:
#Import CSV
csv_file = "C:/Users/Arianne/Desktop/PythonStuff/Pandas_Homework_ANT/HeroesOfPymoli/Resources/purchase_data.csv"

In [21]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
#Display the total number of players
Unique_players=purchase_data['SN'].unique()
total_players = len(Unique_players)
print(f"Total Players: {total_players}")

Total Players: 576

In [36]:
#number of unique items
Unique_Items = purchase_data['Item Name'].unique()
total_unique_items = len(Unique_Items)
total_unique_items

179

In [28]:
#Average Price
Average_Price = purchase_data['Price'].mean()
Average_Price

3.050987179487176

In [31]:
#Number of Purchases
Total_purchases = len(purchase_data.index)
Total_purchases

780

In [32]:
#Total Revenue
Total_revenue = purchase_data['Price'].sum()
Total_revenue

2379.77

In [39]:
#Display the summary data frame for Purchasing Analysis
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items], "Average Price": [Average_Price], "Number of Purchases": [Total_purchases], "Total Revenue":[Total_revenue]})
Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [60]:
#Count of Male/Female/Other Players
Gender_Count = purchase_data['Gender'].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [59]:
Gender_Count_df = pd.DataFrame({"Gender":[Gender_Count[0]], "Total Count":[Gender_Count[1]]})
Gender_Count_df

   Gender  Total Count
0     652          113

In [50]:
#Percentage and Count of Male/Female/Other Players
Percentage = Gender_Count_df[Total Count)/576
Gender_Count["Percentage of Players"] = Percentage

Gender_Count.head()

Male                     652.000000
Female                   113.000000
Other / Non-Disclosed     15.000000
Percentage of Players      0.026042
Name: Gender, dtype: float64

In [ ]:
#Display the summary data frame for Gender Demographics
Gender_Count.columns = ["Gender", "Total Count"]